<div>
  <p>Link list:</p>
  <db-linklist>
    <li>
      <db-link href="https://db-ui.github.io/elements/" target="_blank"
        >DB UI Elements components documentation</db-link
      >
    </li>
    <li>
      <db-link href="https://db-ui.github.io/elements/" target="_blank"
        >DB UI Core components documentation</db-link
      >
    </li>
  </db-linklist>
  <p>Notification:</p>
  <db-button variant="primary" (click)="notification = true">
    Open Notification!
  </db-button>
  <db-notifications *ngIf="notification" variant="hovering">
    <db-notification type="success">
      <db-icon
        icon="account"
        slot="prenotification"
        variant="20-outline"
      ></db-icon>
      success: Lorem ipsum dolor sit amet, consectetur adipisicing elit
      <db-icon
        icon="close"
        slot="postnotification"
        variant="20-outline"
        (keypress)="notification = false"
        (click)="notification = false"
        tabindex="0"
        role="button"
      ></db-icon>
    </db-notification>
  </db-notifications>
</div>
