.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

main {
  margin: auto;
  max-width: 45rem;
  text-align: left;
  min-height: 90vh;
}

main form ol {
  list-style-type: none;
  padding-left: 0;
}

main form ol li {
  margin: 1rem 0;
}

dl dt::after {
  content: ':';
}
