<db-page>
  <db-header slot="header">
    <db-brand src="./assets/db_logo.svg" href="/angular-lts-showcase">
      DB UI Elements in Angular Showcase
    </db-brand>
    <db-mainnavigation>
      <db-link href="/" current="page">
        Pages
        @for (item of navigationItems; track item; let i = $index) {
          <db-link [attr.current]="isAria(i)">
            <a [routerLink]="item.link">{{ item.label }}</a>
          </db-link>
        }
      </db-link>
    </db-mainnavigation>
    <div></div>
  </db-header>
  <div>
    <router-outlet></router-outlet>
  </div>
  <db-footer slot="footer" copyright border></db-footer>
</db-page>
