---
version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '04:00'
      timezone: 'Europe/Berlin'
    pull-request-branch-name:
      separator: '-'

  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
      time: '04:00'
      timezone: 'Europe/Berlin'
    ignore:
      - dependency-name: 'ng-packagr'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler-cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/router'
        update-types: ['version-update:semver-major']
      - dependency-name: 'jest-cli'
        update-types: ['version-update:semver-major']
      # Stencil only supports jest version 27 at the moment
      - dependency-name: '@types/jest'
        update-types: ['version-update:semver-major']
      - dependency-name: 'jest'
        update-types: ['version-update:semver-major']
      # Especially as we're using multiple major versions of Angular, we want to update the major version by ourselves
      - dependency-name: '@angular/core'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/common'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/forms'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/platform-browser-dynamic'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/animations'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular-devkit/build-angular'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/platform-browser'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/addon-actions'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/addon-controls'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/addon-docs'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/addon-essentials'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/addon-links'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/builder-webpack5'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/html'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/manager-webpack5'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/react'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/web-components'
        update-types: ['version-update:semver-major']
      - dependency-name: '@storybook/web-components-vite'
        update-types: ['version-update:semver-major']
    pull-request-branch-name:
      separator: '-'
    # https://github.com/dependabot/dependabot-core/issues/5226#issuecomment-1179434437
    versioning-strategy: increase
    groups:
      commitlint:
        patterns:
          - '@commitlint*'
      babel:
        patterns:
          - '@babel*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
        update-types:
          - 'minor'
          - 'patch'
      typescript-eslint:
        patterns:
          - '@typescript-eslint*'
      storybook:
        patterns:
          - '@storybook*'
          - 'storybook'
      follow-redirects:
        patterns:
          - 'follow-redirects'
      types-node:
        patterns:
          - '@types/node'
      angular:
        patterns:
          - '@angular*'
          - '@angular-devkit*'
          - 'ng-packagr'
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'npm'
    directory: '/showcase/angular-active-showcase'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
      time: '04:00'
      timezone: 'Europe/Berlin'
    ignore:
      - dependency-name: 'ng-packagr'
        update-types: ['version-update:semver-major']
      # Especially as we're using multiple major versions of Angular, we want to update the major version by ourselves
      - dependency-name: '@angular/cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/core'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler-cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/router'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/common'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/forms'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/platform-browser-dynamic'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular-devkit/build-angular'
        update-types: ['version-update:semver-major']
    pull-request-branch-name:
      separator: '-'
    groups:
      angular:
        patterns:
          - '@angular*'
          - '@angular-devkit*'
          - 'ng-packagr'
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'npm'
    directory: '/showcase/angular-lts-showcase'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
      time: '04:00'
      timezone: 'Europe/Berlin'
    ignore:
      - dependency-name: 'ng-packagr'
        update-types: ['version-update:semver-major']
      # Especially as we're using multiple major versions of Angular, we want to update the major version by ourselves
      - dependency-name: '@angular/cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/core'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/compiler-cli'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/router'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/common'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/forms'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/platform-browser-dynamic'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular-devkit/build-angular'
        update-types: ['version-update:semver-major']
      # Angular 15 only works with zone.js 0.13.x
      - dependency-name: 'zone.js'
        update-types: ['version-update:semver-minor']
    pull-request-branch-name:
      separator: '-'
    groups:
      angular:
        patterns:
          - '@angular*'
          - '@angular-devkit*'
          - 'ng-packagr'
        update-types:
          - 'minor'
          - 'patch'
