---
version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    pull-request-branch-name:
      separator: '-'

  # Daily: Check minor and patch updates
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    ignore:
      - dependency-name: 'ng-packagr'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/cli'
        update-types: ['version-update:semver-major']
      - dependency-name: 'jest-cli'
        update-types: ['version-update:semver-major']
      - dependency-name: 'typescript'
        update-types: ['version-update:semver-major']
    pull-request-branch-name:
      separator: '-'
    # https://github.com/dependabot/dependabot-core/issues/5226#issuecomment-1179434437
    versioning-strategy: increase
  - package-ecosystem: 'npm'
    directory: '/showcase/angular-showcase'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'ng-packagr'
        update-types: ['version-update:semver-major']
      - dependency-name: '@angular/cli'
        update-types: ['version-update:semver-major']
    pull-request-branch-name:
      separator: '-'
  - package-ecosystem: 'npm'
    directory: '/showcase/playground-showcase'
    schedule:
      interval: 'weekly'
    pull-request-branch-name:
      separator: '-'
  - package-ecosystem: 'npm'
    directory: '/showcase/react-showcase'
    schedule:
      interval: 'weekly'
    pull-request-branch-name:
      separator: '-'
  - package-ecosystem: 'npm'
    directory: '/showcase/reactwind-showcase'
    schedule:
      interval: 'weekly'
    pull-request-branch-name:
      separator: '-'
  - package-ecosystem: 'npm'
    directory: '/showcase/vue-showcase'
    schedule:
      interval: 'weekly'
    pull-request-branch-name:
      separator: '-'
