<div>
  <p>Pagination (with custom events):</p>
  <db-pagination
    [currentpage]="currentPage"
    pages="9"
    count="3"
    titleprevious="Titel vorher"
    titlenext="Titel nächstes"
    titlepagination="Seitennummer"
    textprevious="Vorher"
    textnext="Nächstes"
    arialabel="test2"
    [(ngModel)]="currentPage"
  ></db-pagination>
  <p>Table:</p>
  <p>Table data as object</p>
  <db-table [tabledata]="columnExampleDataString"></db-table>
  <p>Table data as string</p>
  <db-table tabledata="{{ columnExampleDataString }}"></db-table>
</div>
