@import '../general';
@import 'footer';

:host {
  display: block;
}

db-footer {
  .mobile-container {
    height: 64px;
  }

  &[mobile-scroll='true'] footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  footer {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }

  &[scroll-hide='true'] .mobile-container {
    display: none;
  }

  &[scroll-hide='true'] footer {
    transform: translate3d(0, 101%, 0);
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }
}
