<db-tab-bar>
  <db-tab label="Inputs" name="tab-bar" active>
    <app-form></app-form>
  </db-tab>
  <db-tab label="Other Elements" name="tab-bar">
    <app-other-elements></app-other-elements>
  </db-tab>
  <db-tab label="Other Components" name="tab-bar">
    <app-other-components></app-other-components>
  </db-tab>
  <db-tab label="Tables" name="tab-bar">
    <app-tables></app-tables>
  </db-tab>
  <db-tab label="Navigation" name="tab-bar">
    <app-navigation></app-navigation>
  </db-tab>
</db-tab-bar>
