---
name: Default On-Push

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'

jobs:
  init:
    uses: ./.github/workflows/00-init.yml

  scan-secrets:
    uses: ./.github/workflows/00-scan-secrets.yml

  test:
    uses: ./.github/workflows/01-test.yml
    needs: [init]

  validate:
    uses: ./.github/workflows/01-validate.yml
    needs: [init]

  # local build all, is not required for gh-actions we split it to multiple jobs
  #  build-all:
  #    uses: ./.github/workflows/01-build-all.yml
  #    needs: [init]

  build-stencil-targets:
    uses: ./.github/workflows/01-build-stencil-targets.yml
    needs: [init, test, validate]

  build-showcases:
    uses: ./.github/workflows/01-build-showcases.yml
    needs: [build-stencil-targets]

  build-storybook:
    uses: ./.github/workflows/01-build-storybook.yml
    needs: [build-showcases]

  cypress:
    uses: ./.github/workflows/02-cypress.yml
    needs: [build-storybook]

  deploy:
    uses: ./.github/workflows/03-deploy-gh-pages.yml
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: [validate, test, cypress]
