---
name: On-PR to main

on:
  pull_request:
    branches: ['main']

permissions:
  pull-requests: write
  contents: write
  actions: read
  security-events: write

jobs:
  dependabot:
    uses: ./.github/workflows/99-auto-merge.yml

  self-healing-dependabot-updates:
    uses: ./.github/workflows/99-self-healing-dependabot-updates.yml

  codeql:
    uses: ./.github/workflows/99-codeql-analysis.yml

  dependency-review:
    uses: ./.github/workflows/99-dependency-review.yml

  labeler:
    if: github.event.pull_request.head.repo.owner.login == 'db-ui'
    uses: ./.github/workflows/99-labeler.yml
